<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5>About STORA</h5>
                <p>We are passionate about offering great storage solutions for you.</p>
            </div>
            <div class="col s6">
                <h5>Visit our Social Channels</h5>
                <ul>
                    <li><a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Link to Facebook home page">Facebook</a></li>
                    <li><a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Link to Instagram home page">Instagram</a></li>
                    <li><a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Link to Twitter home page">Twitter</a></li>
                    <li><a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Link to Youtube home page">Youtube</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>© 2021 Copyright text</p>
        </div>
    </div>
</footer>