chardet==3.0.4
Click==7.0
dnspython==1.16.0
Flask==1.1.1
Flask-PyMongo==2.3.0
heroku==0.1.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
pymongo==3.10.0
python-dateutil==1.5
requests==2.22.0
urllib3==1.25.5
Werkzeug==0.16.0
