{% extends 'layout/base.html' %}
{% block content %}
<div class="parallax-container">
    <div class="parallax">
        <img src="/static/images/storage6.jpeg" alt="Storage facility">
    </div>
</div>
<div class="section white">
    <div class="container">

        {% include 'layout/user-feedback-message.html' %}

        <h2 class="heading-text">Create new unit type</h2>
        <p class="secondary-text center">Please fill the form below and click "Submit" to create a new unit type.</p>
        <p class="center">Just fill in the fields and then press the "Create Unit" button at the end of the form.</p>

        {% include 'forms/units/create_unit.html' %}

        <h2 class="heading-text">Currently existing units</h2>
        {% for unit in units %}
            <div class="row card single-card">
                <div class="col s12 m6">
                    <p class="card-title">{{unit.unit_name}}</p>
                    <p class="card-subtitle">{{unit.unit_size}} sq ft</p>
                </div>
                <div class="col s12 m6">
                    <p class="card-title">Price</p>
                    <p class="card-subtitle">£ {{unit.unit_price}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}