/* Cards */

// .card-row-find {
//     display: flex;
// }
.card-row-register {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .s12 {
        margin-bottom: 2rem;
    }
}
.single-card{
    margin: 1rem 0!important;
    padding: 2rem 1rem;

}
