/* Header */

nav {
    position: fixed;
    z-index: 2;
}
.nav-wrapper {
    background-color: $yellow-color;
}
.menu-box {
    display: flex;
    padding: 0!important;
    max-height: 100%;

    li {
        max-height: 100%;
    }   

    li a {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: $black-color;
    }   
}
.menu-icon {
    color: $black-color;
    font-size: 2.5rem !important;
}
nav .button-collapse {
    margin: 0 1rem;
}
.logo-box {
    display: flex;
    justify-content: center;
    padding-left: 5rem!important;
    max-height: 100%;

    img {
        max-height: 2.3rem;
        margin: auto;
    }
}
.pawer-logo-name {
    font-family: "Alfa Slab One", sans-serif;
    font-size: 2.5rem;
    color: $black-color;
}

.three-words {
    padding: 0.4rem 0.4rem;
    text-align: left;

    p {
        margin: 0;
        color: $red-color;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600;
    }
}

