/* Buttons */

.btn {
    @include border-radius-05;
    background-color: $cadmium-orange;
    color: $black-color;
}
.btn:focus, .btn-large:focus, .btn-floating:focus .btn:hover, .btn-large:hover {
    background-color: $marigold;
}
// .nav-action-button {
//     color: $cadmium-orange;
//     font-size: 1.05rem;
//     font-weight: 700;
//     margin: auto;
//     padding: 0;
//     width: 40%;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;

//     i {
//         font-size: 1.4rem;
//         margin-right: 0.2rem;
//     }
// }
.card-action-button {
    width: 100%;
    padding: 0 0.5rem;
    margin: 1rem 0;
    font-family: Lexend Tera, sans-serif;
    font-weight: 600;
}
.card-action-button-icon {
    margin: 0 0.5rem;
}
.index-action-button{
    background-color: $cadmium-orange;
    color: $black-color;
    margin: 1rem 0;
    font-size: 1.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 6px 6px 0px #00000094;
    
    i{
        font-size: 3rem;
        margin-right: 0.5rem;
    }
}
.dogs-action-button {
    color: $white-color;
    font-size: 1rem;
    padding: 0rem;
    margin: 0 auto 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 6px 6px 0px #00000094;
}
.btn-icon {
    margin-right: 1rem;
}
