/* Cards */

.card {
    min-height: 100%;
    padding: 2rem 1rem;
    margin: 0;
    .card-content {
        margin: 0;
        padding: 0;
    }
    .card-image {
        background-color: gray;
    }
}

.card-title{
    font-family: "Alfa Slab One", sans-serif;
    color: $black-color;
    font-size: 2rem !important;
    font-weight: 500;
    margin: 0;
}
.card-subtitle {
    font-family: "Lexend Tera", sans-serif;
    font-size: 2rem !important;
    font-weight: 600;
    margin: 1rem 0;
}
.card-icon{
    font-size: 7rem;
}
.card-content-title {
    font-size: 1.5rem;
    font-family: "Alfa Slab One", sans-serif;
    color: $black-color!important;
    margin: 1rem 0 0!important;
}
.card-icon {
    opacity: 0.5;
    margin-top: 1rem;
}
