<div class="row form-box">
    <form action="{{ url_for('add_unit') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input name="unit_name" type="text" class="validate" data-length="40" aria-labelledby="Unit name" required>
                <label for="unit_name">Unit Name</label>
            </div>
            <div class="input-field col s6">
                <input name="unit_size" type="text" class="validate" data-length="40" aria-labelledby="Unit Size" required> 
                <label for="unit_size">Unit Size (00000)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input name="unit_price" type="text" class="validate" data-length="40" aria-labelledby="Unit Price" required> 
                <label for="unit_price">Unit Price (00.00)</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" aria-labelledby="Confirm unit creation">Create Unit
                <i class="material-icons left">playlist_add</i>
            </button>
        </div>
    </form>
</div>