/* Typography */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lexend+Tera|Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.heading-text {
    font-family: "Alfa Slab One", sans-serif;
    font-size: 3rem;
    color: $black-color;
}
.secondary-text {
    font-family: "Lexend Tera", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: $black-color;
}

p {
    font-size: 1.2rem;
    color: $black-color;
}
